### gender-occupation template

hypo: either {$name1} or {$name2} is a {$occupation}.
text: {$name} is a {$occupation}

In [35]:
import pandas as pd
with open('template/template-name.csv') as f:
    male_name = []
    female_name = []
    for line in f.readlines():
        line = line.split(',')
        if line[1]=='0':
            male_name.append(line[0])
        elif line[1]=='1':
            female_name.append(line[0])
with open('template/template-occupation.csv') as f:
    occupation = []
    for line in f.readlines():
        occupation.append(line.split(',')[0].strip())

In [36]:
print(len(male_name))
male_name

203

["A'deem",
 'Aaron',
 'Adam',
 'Adrin',
 'Alan',
 'Alexander',
 'Alfred',
 'Amhad',
 'Andrew',
 'Andy',
 'Anse',
 'Ben',
 'Benjamin',
 'Biff',
 'Bill',
 'Billy',
 'Bob',
 'Boris',
 'Brad',
 'Bradford',
 'Brady',
 'Brayden',
 'Brent',
 'Brian',
 'Cadan',
 'Cal',
 'Carl',
 'Carlos',
 'Cazar',
 'Chan',
 'Chang Lee',
 'Charles',
 'Charlie',
 'Chen',
 'Chen Wee',
 'Chen Wu',
 'Cody',
 'Cole',
 'Connor',
 'Corey',
 "D'quan",
 'Dale',
 'Dan',
 'Daniel',
 'Danny',
 'Dave',
 'David',
 'Dawson',
 'DeAndre',
 'Denny',
 'DeShawn',
 'Donald',
 'Drew',
 'dustin',
 'Dylan',
 'Earl',
 'Ed',
 'Eddie',
 'Edward',
 'Eric',
 'Erik',
 'Ethan',
 'Eugene',
 'Fred',
 'Gabriel',
 'Gary',
 'George',
 'Greg',
 'Gus',
 'Harold',
 'hunter',
 'Jack',
 'Jacob',
 'Jacques',
 'Jafari',
 'Jake',
 'Jaleel',
 'Jamal',
 'Jamel',
 'James',
 'Jamie',
 'Jason',
 'Javier',
 'Jed',
 'Jeff',
 'Jeffrey',
 'Jeremy',
 'Jerome',
 'Jerry',
 'Jesus',
 'Jim',
 'Jimmy',
 'Joe',
 'Joey',
 'John',
 'Johnathan',
 'Johnny',
 'Jon',
 'Jones',
 'Jorge',
 'Jose',
 'Joseph',
 'Josh',
 'Joxer',
 'Juan',
 'Julius',
 'Kariem',
 'Kenny',
 'Kevin',
 'Kirby',
 'Kurt',
 'Kwame',
 'Kyle',
 'Lamar',
 'Lance',
 'Laquan',
 'Lars',
 'Lawrence',
 'LeBron',
 'Leonard',
 'LeShawn',
 'Lloyd',
 'Louis',
 'Mack',
 'Malcolm',
 'Malik',
 'Manuel',
 'Marcus',
 'Mark',
 'Marquis',
 'Martin',
 'Marty',
 'Mathew',
 'Matt',
 'Mattie',
 'Michael',
 'Micheal',
 'Miguel',
 'Mike',
 'Ming',
 'Mitchell',
 'Mohammad',
 'Muhammad',
 'Nell',
 'Nick',
 'Patrick',
 'Paul',
 'Perth',
 'Ragesh',
 'Rajeev',
 'Ramirez',
 'Ramon',
 'Raymond',
 'Richard',
 'Robert',
 'Rocco',
 'Ron',
 'Ronald',
 'Ronnie',
 'Russ',
 'Ryan',
 'Sam',
 'Sammy',
 'Scott',
 'Sergey',
 'Seth',
 'Shane',
 'Shaquille',
 'Shawn',
 'Sheng Lee',
 'Sidney',
 'Silas',
 'Simon',
 'Soren',
 'Spence',
 'Stephen',
 'Steve',
 'Steven',
 'Stewart',
 'Sudeep',
 'Tammy',
 'Terrance',
 'Terrell',
 'Thomas',
 'Thorn',
 'Tim',
 'Timmy',
 'Tom',
 'Tommy',
 'Tony',
 'Trevon',
 'Treyvone',
 'Tyler',
 'Tyresse',
 'Tyrone',
 'Val',
 'Vince',
 'Wesley',
 'Will',
 'William',
 'Won Lee',
 'Won San Lee',
 'Zack']

In [37]:
female_name = female_name[1:]
print(len(female_name))
female_name

132

['Aisha',
 'Amy',
 'Anita',
 'Anna',
 'Anne',
 'ashley',
 'Bai',
 'Barbara',
 'Becky',
 'Benny',
 'Beth',
 'Betty',
 'beyonce',
 'Brenda',
 'Brittany',
 'Camille',
 'Candace',
 'Candice',
 'Candy',
 'Carla',
 'Carly',
 'Carrie',
 'Cathy',
 'Celia',
 'Charlene',
 'Cheryl',
 'Cindy',
 'Claire',
 'Craig',
 'Cynthia',
 'Dawn',
 'diamond',
 'Ebony',
 'Edith',
 'Ellen',
 'Emily',
 'Erica',
 'Fabioloa',
 'Flora',
 'Grace',
 'Greta',
 'Heather',
 'Jacqui',
 'Jane',
 'Janet',
 'Janice',
 'Jen',
 'Jenna',
 'Jennifer',
 'Jenny',
 "Jessica's",
 'Jill',
 'Joan',
 'Joanne',
 'Joyce',
 'Judy',
 'Julie',
 'Juliette',
 'Kacey',
 'Kassandra',
 'Kassidy',
 'Kate',
 'Katherine',
 'Kathy',
 'Katie',
 'Kelly',
 'Kelsi',
 'Kia',
 'Kristy',
 'Laquisha',
 'Lara',
 'LaShawnda',
 'Laura',
 'Lea',
 'Lena',
 'Lily',
 'Lisa',
 'Liz',
 'Lou',
 'Lucy',
 'Lynn',
 'Maggie',
 'Marianne',
 'Marie',
 'Martha',
 'Mary',
 'Maya',
 'Megan',
 'Meghan',
 'Melissa',
 'Missy',
 'Molly',
 'Monica',
 'Monique',
 'Naomi',
 'Nia',
 'Nina',
 'Olga',
 'Patricia',
 'Paula',
 'Phoebe',
 'precious',
 'Priya',
 'Rachel',
 'raven',
 'Roberta',
 'Ruby',
 'Sally',
 'Samantha',
 'Sara',
 'Sarah',
 'Shaniqua',
 'Shannon',
 'Sharon',
 'Shelly',
 'Sherry',
 'Shevon',
 'Shiloh',
 'Sue',
 'Susan',
 'Susie',
 'Tanisha',
 'Tarnisha',
 'Tasha',
 'Tessa',
 'Tina',
 'Tricia',
 'Tuppence',
 'Veronica',
 'Vrenna',
 'Wendy',
 'Yolanda']

In [38]:
occupation = occupation[1:]
len(occupation)

145

In [41]:
sents = []
for o in occupation:
    for m in male_name:
        for f in female_name:
            text = f"{m} is a {o}."
            hypo = f"either {m} or {f} is a {o}."
            sents.append(f"{text}\t{hypo}\n")

            text = f"{f} is a {o}."
            hypo = f"either {m} or {f} is a {o}."
            sents.append(f"{text}\t{hypo}\n")

In [45]:
sample_sents = sents[:500]
with open('sample_gender-occupation.txt', 'w') as fw:
    for s in sample_sents:
        fw.write(s)