# ðŸ—„ NLI data analysis

### 1. Names
- MNLI
- SNLI
### 2. Occupations
- MNLI
- SNLI
### 1. NLI-names
- MNLI
- SNLI
### 2. NLI-occupations
- MNLI
- SNLI

In [12]:
# load names
import json
name_list = json.load(open("../data/names.json"))
names = [n[0] for n in name_list]

In [13]:
# load mnli train data
with open('../data/MNLI/original/multinli_1.0_train.jsonl') as f:
    json_list = list(f)
    mnli_train = []
    for json_str in json_list:
        result = json.loads(json_str)
        mnli_train.append(result)
len(mnli_train)

392702

In [14]:
mnli_data = []
SEP = ' [SEP] '
for m in mnli_train:
    sent = m['sentence1'] + SEP + m['sentence2']
    mnli_data.append(sent)
mnli_data[0]

'Conceptually cream skimming has two basic dimensions - product and geography. [SEP] Product and geography are what make cream skimming work. '

In [21]:
# load snli train data
with open('../data/SNLI/snli_1.0_train.jsonl') as f:
    json_list = list(f)
    snli_train = []
    for json_str in json_list:
        result = json.loads(json_str)
        snli_train.append(result)
len(snli_train)

550152

In [23]:
snli_data = []
SEP = ' [SEP] '
for m in snli_train:
    sent = m['sentence1'] + SEP + m['sentence2']
    snli_data.append(sent)
snli_data[0]

'A person on a horse jumps over a broken down airplane. [SEP] A person is training his horse for a competition.'

### 1. Count names in MNLI

In [16]:
name_count = dict()
for n in names:
    name_count[n] = name_count.get(n, 0)
for sent in mnli_data:
    for n in names:
        if n in sent:
            name_count[n] += 1
name_count

In [27]:
name_mnli_occurence = sorted(name_count.items(), key=(lambda x:x[1]), reverse=True)
json.dump(name_mnli_occurence, open("name_mnli_occurence.json", 'w'))

### 2. Count names in SNLI

In [25]:
name_count = dict()
for n in names:
    name_count[n] = name_count.get(n, 0)
for sent in snli_data:
    for n in names:
        if n in sent:
            name_count[n] += 1
name_count

{'Abigail': 0,
 'Amy': 3,
 'Anita': 0,
 'Bai': 0,
 'Beyonce': 2,
 'Carly': 1,
 'Claire': 0,
 'Craig': 0,
 'Diamond': 0,
 'Ebony': 0,
 'Emily': 0,
 'Heather': 0,
 'Jenna': 2,
 'Katherine': 0,
 'Katie': 0,
 'Kia': 0,
 'Laquisha': 0,
 'Maya': 18,
 'Molly': 0,
 'Nina': 1,
 'Precious': 0,
 'Raven': 4,
 'Shaniqua': 0,
 'Tanisha': 0,
 'Sally': 13,
 'Lea': 86,
 'Priya': 0,
 'Becky': 2,
 'Sharon': 3,
 'Jenny': 2,
 'Ellen': 1,
 'Anna': 2,
 'Maggie': 0,
 'Kassandra': 0,
 'Shelly': 0,
 'Janice': 1,
 'Tina': 0,
 'Joanne': 0,
 'Lisa': 18,
 'Monica': 0,
 'Ruby': 10,
 'Tricia': 0,
 'Tasha': 0,
 'Judy': 3,
 'Tuppence': 0,
 'Jen': 161,
 'Wendy': 23,
 'Susan': 15,
 'Vrenna': 0,
 'Jacqui': 0,
 'Carrie': 0,
 'Joan': 1,
 'Erica': 0,
 'Candace': 0,
 'Cynthia': 3,
 'Dawn': 1,
 'Greta': 0,
 'Shevon': 0,
 'Candice': 1,
 'Lily': 0,
 'Paula': 0,
 'Beth': 7,
 'Lara': 0,
 'Julie': 5,
 'Shiloh': 0,
 'Megan': 0,
 'Tessa': 0,
 'Jennifer': 4,
 'Roberta': 0,
 'Jane': 40,
 'Olga': 0,
 'Carla': 0,
 'Cathy': 0,
 'Monique': 0,
 'Marianne': 0,
 'Candy': 47,
 'Juliette': 0,
 'Fabioloa': 0,
 'Kathy': 6,
 'Yolanda': 0,
 'Sue': 11,
 'Benny': 1,
 'Melissa': 0,
 'Shannon': 0,
 'Anne': 3,
 'Sara': 7,
 'Kassidy': 0,
 'Susie': 2,
 'Meghan': 0,
 'Veronica': 0,
 'Phoebe': 0,
 'Barbara': 5,
 'Nia': 10,
 'Naomi': 0,
 'Brittany': 3,
 'Grace': 11,
 'Cindy': 18,
 'Liz': 1,
 'Camille': 0,
 'Janet': 0,
 'Jorge': 0,
 'Adrin': 0,
 'Trevon': 0,
 'Dylan': 2,
 'Sudeep': 0,
 'Terrance': 0,
 'Silas': 0,
 'Ramon': 0,
 'Chen Wee': 0,
 'Ronnie': 1,
 'Rajeev': 0,
 'Laquan': 0,
 'Jose': 11,
 'Tyresse': 0,
 'Greg': 5,
 'Treyvone': 0,
 'Marquis': 3,
 'Miguel': 0,
 'Lamar': 0,
 'Kwame': 0,
 'Jamel': 0,
 'Javier': 0,
 'Malik': 0,
 'Dustin': 1,
 'Ming': 0,
 'Chang Lee': 0,
 'Chen Wu': 0,
 'Cody': 0,
 'Cadan': 0,
 'LeBron': 9,
 'Ramirez': 3,
 'Cole': 0,
 'Jacob': 1,
 'Terrell': 0,
 'Won San Lee': 0,
 'LeShawn': 0,
 'Connor': 0,
 'Jake': 8,
 'DeShawn': 0,
 'Carlos': 3,
 'Sheng Lee': 0,
 'Hunter': 5,
 'Jesus': 94,
 'Scott': 176,
 'Won Lee': 0,
 'Juan': 0,
 'Tyrone': 0,
 'Manuel': 0,
 'Chan': 33,
 "D'quan": 0,
 'Edward': 21,
 'John': 189,
 'Jaleel': 0,
 'Marcus': 0,
 'Joey': 8,
 'Eddie': 21,
 'Kevin': 2,
 'Tom': 51,
 'Steven': 8,
 'Mark': 99,
 'Robert': 4,
 'Jamie': 0,
 'Jim': 83,
 'Andrew': 0,
 'Steve': 24,
 'Shane': 3,
 'Tim': 173,
 'Ron': 39,
 'Rocco': 0,
 'Billy': 41,
 'Vince': 3,
 'Aaron': 27,
 'Alan': 1,
 'Thomas': 63,
 'Mack': 1,
 'Val': 47,
 'Brady': 1,
 'Fred': 23,
 'Cazar': 0,
 'Mitchell': 1,
 'Jimmy': 21,
 'Lars': 0,
 'Carl': 13,
 'David': 63,
 'Jones': 5,
 'Sam': 102,
 'Jafari': 0,
 'Raymond': 0,
 'Thorn': 6,
 'Sidney': 0,
 'Denny': 2,
 'Joe': 77,
 'Louis': 47,
 'James': 21,
 'Bill': 128,
 'Micheal': 1,
 'Paul': 47,
 'Zack': 0,
 'Timmy': 8,
 'Kariem': 0}

In [28]:
name_snli_occurence = sorted(name_count.items(), key=(lambda x:x[1]), reverse=True)
json.dump(name_snli_occurence, open("name_snli_occurence.json", 'w'))